<section class="center">
  <h2>Insert your name..</h2>
  <form action="/game/new" method="post">
    <input type="text" name="name">
    <h2>and choose you opponent</h2>
     <input id="cpu" class="cpu" type="submit" name="opponent" value="Computer">
     <input id="human" class="human" type="submit" name="opponent" value="TacticalPlayer">
  </form>
</section>

